name: traefik

volumes:
  traefik:
    name: traefik
  acme:
    name: acme

services:
  traefik:
    image: "traefik:latest@sha256:c5bd185c41ba3dbb42cf8a1b9fbdc368bdc96f90c8e598134879935f64e7a7f1"
    container_name: "traefik"
    environment:
      - "CF_API_EMAIL=${CLOUDFLARE_EMAIL}"
      - "CF_DNS_API_TOKEN=${CLOUDFLARE_API_TOKEN}"
      - "TRAEFIK_CERTIFICATESRESOLVERS_LE_ACME_STORAGE=/acme/acme.json"
    ports:  
      - "80:80"
      - "443:443"  
    networks:
      - proxy
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/etc/localtime:/etc/localtime:ro"
      - "traefik:/var/log/traefik"
      - "acme:/acme"
    configs:
      - source: traefik.yaml
        target: /etc/traefik/traefik.yaml
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.${DOMAIN_NAME}`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.middlewares=auth"
      - "traefik.http.middlewares.auth.basicauth.users=admin:${DASHBOARD_CREDENTIALS}"
      - "traefik.http.routers.traefik.tls.certresolver=letsencrypt"
      - "traefik.http.routers.traefik.tls.domains[0].main=${DOMAIN_NAME}"
      - "traefik.http.routers.traefik.tls.domains[0].sans=*.${DOMAIN_NAME}"

configs:
  traefik.yaml:
    content: |
      api:
        dashboard: true

      entryPoints:
        web:
          address: ":80"
          http:
            redirections:
              entryPoint:
                to: websecure
                scheme: https
          forwardedHeaders:
            trustedIPs:
              - "127.0.0.1/32"
              - "192.168.24.0/24"
              - "173.245.48.0/20"
              - "103.21.244.0/22"
              - "103.22.200.0/22"
              - "103.31.4.0/22"
              - "141.101.64.0/18"
              - "108.162.192.0/18"
              - "190.93.240.0/20"
              - "188.114.96.0/20"
              - "197.234.240.0/22"
              - "198.41.128.0/17"
              - "162.158.0.0/15"
              - "104.16.0.0/13"
              - "104.24.0.0/14"
              - "172.64.0.0/13"
              - "131.0.72.0/22"
              - "2400:cb00::/32"
              - "2606:4700::/32"
              - "2803:f800::/32"
              - "2405:b500::/32"
              - "2405:8100::/32"
              - "2a06:98c0::/29"
              - "2c0f:f248::/32"

        websecure:
          address: ":443"
          forwardedHeaders:
            trustedIPs:
              - "127.0.0.1/32"
              - "192.168.24.0/24"
              - "173.245.48.0/20"
              - "103.21.244.0/22"
              - "103.22.200.0/22"
              - "103.31.4.0/22"
              - "141.101.64.0/18"
              - "108.162.192.0/18"
              - "190.93.240.0/20"
              - "188.114.96.0/20"
              - "197.234.240.0/22"
              - "198.41.128.0/17"
              - "162.158.0.0/15"
              - "104.16.0.0/13"
              - "104.24.0.0/14"
              - "172.64.0.0/13"
              - "131.0.72.0/22"
              - "2400:cb00::/32"
              - "2606:4700::/32"
              - "2803:f800::/32"
              - "2405:b500::/32"
              - "2405:8100::/32"
              - "2a06:98c0::/29"
              - "2c0f:f248::/32"

      providers:
        docker:
          endpoint: "unix:///var/run/docker.sock"
          exposedByDefault: false


      certificatesResolvers:
        letsencrypt:
          acme:
            email: ${CLOUDFLARE_EMAIL}
            storage: /acme/acme.json
            dnsChallenge:
              provider: cloudflare

      middlewares:
        auth:
          basicAuth:
            users:
              - admin:${DASHBOARD_CREDENTIALS}

networks:
  proxy:
    name: proxy